<!-- Banner Start-->
<div class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item item-1">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Titel-->
                        <h1><span>It's time to </span> feel!</h1>
                        <!-- Paragraph -->
                        <p>More great experience than hotel Both a destination and a journey</p>
                        <!-- Btn -->
                        <!-- <a href="rooms-list.html" class="btn btn-fill">view our services</a> -->
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Titel-->
                        <h1><span>It's time to </span> relax!</h1>
                        <!-- Paragraph -->
                        <p>More great experience than hotel Both a destination and a journey</p>
                        <!-- Btn -->
                        <!-- <a href="service.html" class="btn btn-fill">view our services</a> -->
                    </div>
                </div>
            </div>
            <div class="item item-3 active">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Titel-->
                        <h1><span>Welcome to</span> Rock Lititz</h1>
                        <!-- Paragraph -->
                        <p>Our 138 rooms and suites are wonderfully comfortable with a sleek décor.</p>
                        <!-- Btn -->
                        <!-- <a href="rooms-list.html" class="btn btn-fill">view all rooms</a> -->
                    </div>
                </div>
            </div>
            <div class="item item-4 active">
                <div class="container">
                    <!-- Banner Slider Inner 1 -->
                    <div class="banner-slider-inner">
                        <!-- Titel-->
                        <h1><span>It's time to </span> refresh!</h1>
                        <!-- Paragraph -->
                        <p>More great experience than hotel Both a destination and a journey</p>
                        <!-- Btn -->
                        <!-- <a href="rooms-list.html" class="btn btn-fill">view all rooms</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <%= image_tag("chevron-left.png")%>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <%= image_tag("chevron-right.png")%>
            </span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Search Bar Start -->
    <!-- <#%= render partial: "search_bar"%> -->
    <!--/ Search Bar End -->
</div>
<!-- Banner End-->