<div class="favorite-rooms content-area clearfix">
    <div class="container">
        <div class="main-title">
            <h1>Favorite Rooms</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan. interdum hendrerit lacinia.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- Rooms Box Start-->
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag("bedroom-1.jpg")%>
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Header -->
                        <header class="clearfix">
                            <div class="pull-left">
                                <h5 class="title">
                                    <a href="http://hotel-empire.sohelrana.me/rooms-details.html">King Suite</a>
                                </h5>
                                <ul class="custom-list">
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">1 bed</a> /
                                    </li>
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">2 People</a> /
                                    </li>
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">sea  view</a> 
                                    </li>
                                </ul>
                            </div>
                            <!-- Price -->
                            <div class="price">
                                <span>from $99/day</span>
                            </div>
                       </header>
                        <!-- Paragraph -->
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.</p>
                        <!-- Facilities List -->
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-air-conditioner"></i>
                                <span>Ac</span>
                            </li>
                            <li>
                                <i class="flaticon-air-conditioner"></i>
                                <span>Room Service</span>
                            </li>
                            <li>
                                <i class="flaticon-wifi"></i>
                                <span>Wifi Access</span>
                            </li>
                            <li>
                                <i class="flaticon-key"></i>
                                <span>Free Safe </span>
                            </li>
                            <li>
                                <i class="flaticon-car-parking"></i>
                                <span>Parking</span>
                            </li>
                            <li>
                                <i class="flaticon-monitor"></i>
                                <span>TV</span>
                            </li>
                        </ul>
                        <!-- Btn Div-->
                        <div class="btn-div">
                            <a href="http://hotel-empire.sohelrana.me/rooms-details.html">
                                <span class="read-more">Ream More</span>
                                <span class="icon-arrow-right2 bg-danger">
                                    <i class="fa  fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Rooms Box End-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- Rooms Box Start-->
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag("bedroom-2.jpg")%>
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Header -->
                        <header class="clearfix">
                            <div class="pull-left">
                                <h5 class="title">
                                    <a href="http://hotel-empire.sohelrana.me/rooms-details.html">King Suite</a>
                                </h5>
                                <ul class="custom-list">
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">1 bed</a> /
                                    </li>
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">2 People</a> /
                                    </li>
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">sea  view</a> 
                                    </li>
                                </ul>
                            </div>
                            <!-- Price -->
                            <div class="price">
                                <span>from $99/day</span>
                            </div>
                       </header>
                        <!-- Paragraph -->
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.</p>
                        <!-- Facilities List -->
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-air-conditioner"></i>
                                <span>Ac</span>
                            </li>
                            <li>
                                <i class="flaticon-room-service"></i>
                                <span>Room Service</span>
                            </li>
                            <li>
                                <i class="flaticon-wifi"></i>
                                <span>Wifi Access</span>
                            </li>
                            <li>
                                <i class="flaticon-key"></i>
                                <span>Free Safe </span>
                            </li>
                            <li>
                                <i class="flaticon-car-parking"></i>
                                <span>Parking</span>
                            </li>
                            <li>
                                <i class="flaticon-monitor"></i>
                                <span>TV</span>
                            </li>
                        </ul>
                        <!-- Btn Div-->
                        <div class="btn-div">
                            <a href="http://hotel-empire.sohelrana.me/rooms-details.html">
                                <span class="read-more">Ream More</span>
                                <span class="icon-arrow-right2 bg-danger">
                                    <i class="fa  fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Rooms Box End-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- Rooms Box Start-->
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag("bedroom-3.jpg")%>
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Header -->
                        <header class="clearfix">
                            <div class="pull-left">
                                <h5 class="title">
                                    <a href="http://hotel-empire.sohelrana.me/rooms-details.html">King Suite</a>
                                </h5>
                                <ul class="custom-list">
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">1 bed</a> /
                                    </li>
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">2 People</a> /
                                    </li>
                                    <li>
                                        <a href="http://hotel-empire.sohelrana.me/#">sea  view</a> 
                                    </li>
                                </ul>
                            </div>
                            <!-- Price -->
                            <div class="price">
                                <span>from $99/day</span>
                            </div>
                       </header>
                        <!-- Paragraph -->
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.</p>
                        <!-- Facilities List -->
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-air-conditioner"></i>
                                <span>Ac</span>
                            </li>
                            <li>
                                <i class="flaticon-room-service"></i>
                                <span>Room Service</span>
                            </li>
                            <li>
                                <i class="flaticon-wifi"></i>
                                <span>Wifi Access</span>
                            </li>
                            <li>
                                <i class="flaticon-key"></i>
                                <span>Free Safe </span>
                            </li>
                            <li>
                                <i class="flaticon-car-parking"></i>
                                <span>Parking</span>
                            </li>
                            <li>
                                <i class="flaticon-monitor"></i>
                                <span>TV</span>
                            </li>
                        </ul>
                        <!-- Btn Div-->
                        <div class="btn-div">
                            <a href="http://hotel-empire.sohelrana.me/rooms-details.html">
                                <span class="read-more">Ream More</span>
                                <span class="icon-arrow-right2 bg-danger">
                                    <i class="fa  fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Rooms Box End-->
            </div>
        </div>
    </div>
</div>