<div id="fun-facts" class="favorite-rooms content-area clearfix">
    <div class="container">
        <div class="main-title">
            <h1>FUN FACTS</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- Rooms Box Start-->
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "food-and-beverages.jpg", class: "specifics-thumbnails" %>
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Header -->
                        <header class="clearfix">
                            <h5 class="title ">
                                <a href="#" >Food & Beverages</a>
                            </h5>
                        </header>
                        <p>Hotel at Rock Lititz have harmony of flavours. A favorite haunt for savvy locals and refined travelers alike, Our restaurant boasts diverse options for food and beverages.</p>
                    </div>
                </div>
                <!-- Rooms Box End-->
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- Rooms Box Start-->
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "ownership.jpg", class: "specifics-thumbnails"%>
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Header -->
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">OWNERSHIP</a>
                            </h5>
                       </header>
                       <p>Hotel at Rock Lititz is owned and operated by ARC One Lititz Partners, LP. ARC One is a joint venture is between Amerimar Reality Company, As One Management, and ADCO (American Development Company.)</p>
                    </div>
                </div>
                <!-- Rooms Box End-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- Rooms Box Start-->
                <div class="thumbnail rooms-box clearfix">
                    <%= image_tag "backstage-vibes.jpg", class: "specifics-thumbnails" %>
                    <!-- detail -->
                    <div class="caption detail">
                        <!-- Header -->
                        <header class="clearfix">
                            <h5 class="title">
                                <a href="#">BACKSTAGE VIBES</a>
                            </h5>
                       </header>
                       <p>Hotel at Rock Lititz will feature fun "backstage vibes" throughout! This will include a custom speaker wall, as well as repurposed props from actual rock 'n roll concerts!</p>
                    </div>
                </div>
                <!-- Rooms Box End-->
            </div>
        </div>
    </div>
</div>



<!-- <div class="hotel-service-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="content">
                    <h5>Stimulate Your Senses</h5>
                    <h3>A Harmony Of Flavours</h3>
                    <p>A favorite haunt for savvy locals and refined travelers alike, the Hotel Rock Lititz boasts diverse options for dining and.</p>
                    <p>&nbsp;</p>

                    <h5>Spark The Imagination </h5>
                    <h3>Explore The Farming Life</h3>
                    <p>Nestled between beautiful views of amazing farmland & minutes from America's coolest small town</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="content">
                    <h5>Suite Amenities Experience</h5>
                    <h3>Restore Your Well-Being </h3>
                    <p>A deeply personalised experience of the ultimate in luxury and tranquility.</p>
                    <p>&nbsp;</p>

                    <h5>Weddings &amp; Honeymoons </h5>
                    <h3>Your Dream Wedding </h3>
                    <p>Dedicated wedding planner, pre wedding spa treatments, ceremony in Hall.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="home-chef">
                    <#%= image_tag "home-chef.jpg", class: "img-responsive", alt: "home-chef" %>
                </div>
            </div>
        </div>
    </div>
</div> -->