    <div class="search-bar">
        <div class="container">
            <div class="search-bar-inner">
                <form>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="checkin">Check In</label>
                                <input class="flatpickr flatpickr-input" id="checkin" type="text" placeholder="Checkin Date" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="checkout">Check Out</label>
                                <input class="flatpickr flatpickr-input" id="checkout" type="text" placeholder="Checkout Date" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="room">Room</label>
                                <select class="form-control" id="room">
                                    <option>Choose Room</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>6</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="guest">Guest</label>
                                <select class="form-control" id="guest">
                                    <option>Choose Guest</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>6</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button class="btn btn-danger">Check Availability</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>