<!-- Special Service Start-->
<div class="special-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 content">
                <h5>Dining Room</h5>
                <h3>Get Ready for the Delicious Dinner</h3>
                <p>Spark your imagination and your taste buds with these inspirational recipes from famous Cookware and our favorite chefs. We've rounded up our most-popular main dishes, sides and salads - here's what you want to eat for dinner right now.</p>
                <!-- <a href="#" class="btn btn-fill">Read More</a> -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 special-service-img">
                <%= image_tag "dinner.jpg", class: "img-responsive", alt: "home-chef" %>
            </div>
        </div>
    </div>
</div>
<!-- Special Service End-->

<!-- Special Service-event Start-->
<div class="special-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 special-service-img">
                <%= image_tag "wedding.jpg", class: "img-responsive", alt: "home-chef" %>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 content">
                <h5>Event Hall</h5>
                <h3>Create History With Wedding Venue</h3>
                <p>Celebrate your special day in the same spaces where presidents and dignitaries once gathered.  Our Grand Ballroom offers classic charm and a truly unique wedding experience.</p>
                <!-- <a href="#" class="btn btn-fill">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Special Service event End-->

<!-- Special Service Lobby Start-->
<div class="special-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 content">
                <h5>Lobby</h5>
                <h3>Lobby Bar And Restuarant An Ultra Sophisticated</h3>
                <p>The hotel will feature a lobby that will be a favorite space to gather.  An area of mingling with game tables, stage for impromptu jam sessions, multiple televisions with behind the scene looks at your favorite shows as well as a full restaurant offering breakfast, dinner and drinks daily.</p>
                <!-- <a href="#" class="btn btn-fill">Read More</a> -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 special-service-img">
                <%= image_tag "lobby_tagline.png", class: "img-responsive", alt: "home-chef" %>
            </div>
        </div>
    </div>
</div>
<!-- Special Service Lobby End-->